body{
  background-image: url("http://bluebotsdots.com/images/Animation_bluebotsdots.gif");
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
}

#audioControl{
  color: white;
}

h1 {
  font-family: 'yellowtail' , 'sans-serif' , 'serif';
  font-size: 65px;
  color: white;
  text-shadow: 0 10px 10px violet, 0 0 20px blue;
  margin-top: -40px;
}


#p1 {
  content: url("http://www.grandtheftwiki.com/images/MonsterTruck-GTAA.png");
  transform: rotate(180deg);
  width: 180px;
  position: absolute;
}

#p2 {
  content: url("http://www.grandtheftwiki.com/images/thumb/Sentinel-GTAA.png/180px-Sentinel-GTAA.png");
  transform: rotate(180deg);
  height: 90%;
  width: 185px;
  position: absolute;
}

#trackOne {
  width: 80%;
  height: 100px;
  margin-bottom: 35px;
  background-image:url("road.jpg");
  background-position: center;
}

#trackTwo {
  width: 80%;
  height: 100px;
  background-image:url("road.jpg");
  background-position: center;
}

.finish {
  content: url("http://www.projectm71.com/checkered.gif");
  width: 40px;

}

#reset {
  position: absolute;
  margin-left: 10%;
  margin-top: 10px;
}
