#trackOne {
  width: 80%;
  height: 100px;
  margin: 20px;
  border: 2px solid black;

}

#trackTwo {
  width: 80%;
  height: 100px;
  margin: 20px;
  border: 2px solid black;

}

#reset {
  position: absolute;
  margin-left: 10%;
}
